body{
    font-family: 'Poppins';
    margin: 0 !important;
    padding: 0 !important;
}

.header {
    width: 100%;
    background-color: black;
    top: 0;
    overflow: hidden;
    position: relative;
}

.header h2 {
    color: white;
    font-family: Arial;
    font-weight: bolder;
    margin-left: 10px;
}

.navbar{
    position: sticky !important;
    top: 0;
    background-color: goldenrod;
    height: 66px;
    z-index: 9999;
}
.pistol{
    width: 60px;
    height: 60px;
    background: url(../Assets/icon/gun.svg) no-repeat;
    background-size: 60px;
    border: none;
    cursor: pointer;
}
.dropdown:hover .pistol{
    transform: rotate(-90deg);
    animation:animate 0.8s linear;
}

@keyframes animate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(-90deg);
  }
}

.logo img{
    margin-top: 0.8%;
    margin-left: 0.8%;
    width: 200px;
}

.dropdown {
    float: right;
    overflow: hidden;
}
.dropdown-content {
    left: 0;
    display: none;
    position: absolute;
    background-color: rgb(194, 144, 19);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    animation:animatee 0.5s linear;
    text-align: center;
}

@keyframes animatee{
  0%{
      opacity: 0%;
      height: 0;
  }
  50%{
      opacity: 50%;
      height: 200px;
  }
  100%{
      opacity: 100%;
  }
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content a:hover {
    background-color: goldenrod;
    background: url(../Assets/icon/aim.svg) no-repeat,goldenrod;
    background-position: center;
    background-size: 80px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}  

.dropdown2:hover{
    background-color: goldenrod;
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: goldenrod;
    width: 30%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;
    text-align: center;
    left: 50%;
    margin:0 0 0 -15%;
}

.dropbtn2{
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border: none;
    cursor: pointer;
}

.dropdown-content2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.dropdown-content2 a:hover {
    background: url(../Assets/icon/aim.svg) no-repeat,rgb(194, 144, 19);
    background-position: center;
    background-size: 40px;
}
  
.dropdown2:hover .dropdown-content2 {
    display: block;
}  

/*buat footer*/
.footer {
    overflow: hidden;
    width: 100%;
    text-align: center;
    background-color: black;
    bottom: 0;
}

.footer h3 {
    font-family: Calibri;
    font-weight: normal;
    color: white;
}

.footerIcon {
    box-sizing: border-box;
}

.iconFB {
    width: 15px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    transition: .2s;
}

.iconTW {
    width: 30px;
    height: 30px;
    margin: 0px 5px 0px 5px;
}

.iconYT {
    width: 40px;
    height: 30px;
    margin: 0px 5px 0px 5px;
}

.footer p {
    font-family: Calibri;
    font-weight: normal;
    color: white;
}
/*buat footer*/


/*start image slide*/

.slider img {
    display: none;
    min-width: 100%;
    height: 500px;
}

.slider img.active {
    margin-top: -5px;
    display: block;
    margin: 0 auto;
}

.prev{
    background: url(../Assets/icon/next.svg) no-repeat;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    border: none;
    left: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.next{
    background: url(../Assets/icon/next.svg) no-repeat;
    width: 30px;
    height: 30px;
    border: none;
    right: 0;
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.controls{
    margin-top: -265px;
}
/*end image slide*/

.highlight{
    display: inline-table;
    margin: 0 10px 0 0;
}

.latest{
    display: inline-table;
    margin: 0 0 0 10px;
}

.news{
    padding-top: 20px;
    text-align: center;
    background: url(../Assets/background/background.jpg) no-repeat;
    background-size: 1700px;
    background-position-x: -100px;
    background-position-y: -100px;
    color: white;
    padding-bottom: 50px;
}

.char{
    border: 1px solid rgb(194, 144, 19);
    width: 565px;
    height: 505px;
    text-align: left;
    background-color: black;
}

.char h2, .char p{
    padding-left: 30px;
    padding-right: 40px;
    margin-bottom: -5px;
}
.new{
    border: 1px solid rgb(194, 144, 19);
    width: 565px;
    height: 200px;
    background-color: black;
}
.pic1{
    background: url(../Assets/latestnews/ps4.jpg) no-repeat;
    width: 282.5px;
    height: 200px;
    background-size: 375px;
    background-position-x: -47px;
    background-position-y: -5px;
}

.explaination{
    margin-top: -200px;
    margin-left: 300px;
    text-align: left;
}

.explaination p{
    margin-bottom: -15px;
    font-size: 12px;
    padding-right: 20px;
}

.char p{
    font-size: 12px;
}

.explaination h4{
    margin-bottom: -5px;
}

.pic2{
    background: url(../Assets/latestnews/character.jpg) no-repeat;
    width: 282.5px;
    height: 200px;
    background-size: 480px;
    background-position-x: -100px;
}

.char:hover{
    border: 1px solid white;
}

.new:hover{
    border: 1px solid white;
}
